pom.xml
pom.xml.asc
*.jar
*.class
*.sqlite3
*.log
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/resources/public/js/compiled/
