.bbcard {
    width: 100px;
}
.hlcard {
    width: 200px;
}
.choicebox {
    cursor: pointer;
}
.choicebox.disabled {
    opacity: 0.7;
}
.choicebox.enabled:hover {
    filter: drop-shadow(0px 0px 5px green)
}

.bigview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    padding: 0;
    z-index: 99;
    display: flex;
}
.bigviewcontent {
    margin: auto;
}

.highlight {
    position: relative;
}
.football {
    width: 60px;
    position: absolute;
    left: 10px;
    top: 20px;
}