.ra-main {
  font-family: "Pirata One", cursive ;
  font-size: 14pt;
}

.d-flex img {
  align-items: flex-start;
  align-self: flex-start;
}

.card {
  border-radius: 6%;
  border: 2px solid rgba(0,0,0,0);
  background-color: transparent;
}

.card.target {
  cursor: pointer;
  border: 2px solid yellow;
}
.card.target:hover {
  -webkit-box-shadow: 0px 0px 39px 0px rgba(218,165,32,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(218,165,32,0.75);
  box-shadow:         0px 0px 39px 0px rgba(218,165,32,0.75);
}

.card.active {
  cursor: pointer;
  border: 2px solid lightblue;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,255,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(0,0,255,0.75);
  box-shadow:         0px 0px 39px 0px rgba(0,0,255,0.75);
}
.card.disabled {
  filter: grayscale(100%)
}

.hand {
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 30%;
  overflow-y: hidden;
}
.hand .card {
  bottom: -80%;
  transition: bottom 0.5s;
}
.hand .card:hover {
  bottom: -5px;
  transition: bottom 0.5s;
}

.hand.canplay .card {
  border: 2px solid lightgreen;
  cursor: pointer;
}

.hand.canplay .card:hover {  
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,255,0,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(0,255,0,0.75);
  box-shadow:         0px 0px 39px 0px rgba(0,255,0,0.75);
}
  
.preview {
  position: absolute;
  z-index: 99;
  width: 75%;
  right: 5px;
  top: 0px;
}
  
.settings {
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  color: white;
}

.tip {
  font-style: italic;
  color: darkblue;
}

table tr {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
table tr.selected {
  background-color: rgba(196,196,196,0.2);
}

.resource-sm {
  width: 1rem;
}  

.p1 {
  width: 24px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.chat2 {
  display: flex;
  flex-flow: column;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 98;
  height: 15%;
  transition: height 0.2s;
}

.chat2:hover {
  height: 40%;
  transition: height 0.2s;
}

.chat2 .chatbox {
  background-color: rgba(255,255,255,0.8);
}

.chat2.chat-expand {
  height: 40%;
  transition: height 0.4s
}

.resources {
  position: fixed;
  left: 5px;
  bottom: 5px;
}
.resources .resource-row {
  background-color: white;
}

.focus {
  background-color: rgba(255,255,255,0.5);
  color: darkblue;
  border: 1.5px solid darkblue;
}

.bigviewcontent {
  height: 90%;
}