.card {
  border-radius: 0px;
  border: 2px solid rgba(0,0,0,0);
  background-color: transparent;
}

.card:hover {
  border: 2px solid goldenrod;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(218,165,32,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(218,165,32,0.75);
  box-shadow:         0px 0px 39px 0px rgba(218,165,32,0.75);
}

.card.active {
  border: 2px solid blue;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,255,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(0,0,255,0.75);
  box-shadow:         0px 0px 39px 0px rgba(0,0,255,0.75);
}
  
.preview {
  position: fixed;
  top: 60px;
  right: 5px;
  width: 250px;
  height: 350px;
  z-index: 99;
}
  
.settings {
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  color: white;
}

.tip {
  font-style: italic;
  color: darkblue;
}
  
.chat {
}

.chatbox {
    height: 150px; 
    font-size: 0.8rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat div {
    background: white;
}

.resource-sm {
  width: 24px;
  height: 24px;
}  