.ra-main {
  font-family: "Pirata One", cursive ;
  font-size: 14pt;
  /*user-select: none;*/
}

.p1token {
  height: 100px;
}
.clickable {
  cursor: pointer;
}

.plyr-status {
  flex-grow: 1;
  border: 1px solid grey;
  border-radius: 0.25rem;
}
.plyr-status.ready {
  background-color: rgba(0,240,0,0.2);
  border-color: rgb(0,128,0);
}
.plyr-status.active {
  background-color: rgba(255,255,255,0.3);
  border-color: rgb(0,0,128);
  color: darkblue;
}
.plyr-status.waiting {
  background-color: rgba(0,0,0, 0.2);
  border-color: rgb(128,0,0);
  color: rgb(80,80,80);
}
.plyr-status.pass, .playerdisplay.pass {
  background-color: rgba(0,0,0, 0.2);
  border-color: rgb(0,128,0);
  color: rgb(80,80,80);
}

.d-flex img {
  align-items: flex-start;
  align-self: flex-start;
}

.card {
  border-radius: 6%;
  border: 2px solid rgba(0,0,0,0);
  background-color: transparent;
  cursor: pointer;
}

.card.collect {
  border: 2px solid darkgreen;
  box-shadow: 0 0 10px 0 greenyellow;
}

.card.target {
  border: 2px solid goldenrod;
}
.card.target:hover {
  -webkit-box-shadow: 0px 0px 39px 0px rgba(218,165,32,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(218,165,32,0.75);
  box-shadow:         0px 0px 39px 0px rgba(218,165,32,0.75);
}

.cardset {
  border-bottom: 2px solid #888;
  font-weight: bold;
  margin-bottom: .25rem;
}

.card.active {
  cursor: pointer;
  border: 2px solid lightblue;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,255,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(0,0,255,0.75);
  box-shadow:         0px 0px 39px 0px rgba(0,0,255,0.75);
}
.card.disabled {
  filter: grayscale(100%)
}

.hand {
  position: absolute;
  bottom: 0%;
  left: 40px;
  width: 40%;
  height: 2em;
  /*overflow-y: hidden;*/
}
.hand .card {
  top: 0 !important;
  transition: top 0.3s !important;
}
.hand .card:hover {
  /*top: -150% !important;*/
  transition: top 0.3s !important;
}

.hand.canplay .card {
  border: 2px solid lightgreen;
  cursor: pointer;
}

.hand.canplay .card:hover {  
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,255,0,0.75);
  -moz-box-shadow:    0px 0px 39px 0px rgba(0,255,0,0.75);
  box-shadow:         0px 0px 39px 0px rgba(0,255,0,0.75);
}
  
.settings {
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  color: white;
}

.tip {
  font-style: italic;
  color: darkblue;
}

.essence-sm {
  width: 1rem;
}  

.ra-chat {
  display: flex;
  flex-flow: column;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 98;
  height: 15%;
  min-height: 4rem;
  width: 20rem;
  transition: height 0.2s;
  background-color: rgba(255,255,255,0.8);
}
.ra-chat .chatbox {
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.ra-chat:hover {
  height: 40%;
  transition: height 0.2s;
}

.chat2.chat-expand {
  height: 40%;
  transition: height 0.4s
}

.essence-bar {
  background-color: rgba(0,0,0,0.15);
  border-radius: 0.25rem;
  font-size: 0.9em;
}

.essence-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0%;
}

.card-link {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}

.focus {
    border: 1.5px solid darkblue !important;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    color: darkblue;
}

.bg-essence {
  background-color: #c5b197;
}

.vp {
  width: 1.5em;
  aspect-ratio: 1;
  background-color: darkred;
  color: whitesmoke;
  border-radius: 50%;
  text-align: center;
  padding-top: .2em;
}